/***
 *    ┏┓┏┓┳┓┏┳┓┳┓┏┓┓   ┏┓┏┓┳┓┏┳┓┏┓┳┓
 *    ┃ ┃┃┃┃ ┃ ┣┫┃┃┃ ━━┃ ┣ ┃┃ ┃ ┣ ┣┫
 *    ┗┛┗┛┛┗ ┻ ┛┗┗┛┗┛  ┗┛┗┛┛┗ ┻ ┗┛┛┗
 */

/* =========================================================
   Base
   ========================================================= */
* {
  color: @on_surface;
  all: unset;
  font-size: 16px;
  font-family: "GeistMono Nerd Font Propo";
  font-weight: bold;
  transition: 200ms;
}

/* Avoid annoying background */
.blank-window {
  background: transparent;
}

/* =========================================================
   CONTROL CENTER
   ========================================================= */
.control-center {
  background: @surface_container_highest;
  border-radius: 24px;
  border: 1px solid @primary;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.6);
  margin: 18px;
  padding: 12px;
}

/* =========================================================
   Notifications
   ========================================================= */
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  background-color: alpha(@tertiary, .55);
  border-radius: 16px;
  margin: 4px 0px;
  padding: 4px;
}

.control-center
.notification-row
.notification-background
.notification.critical {
  color: @error;
}

.control-center
.notification-row
.notification-background
.notification
.notification-content {
  margin: 6px;
  padding: 8px 6px 2px 2px;
}

.control-center
.notification-row
.notification-background
.notification > *:last-child > * {
  min-height: 3.4em;
}

/* Notification actions */
.control-center
.notification-row
.notification-background
.notification > *:last-child > *
.notification-action {
  background: alpha(@primary, .6);
  color: @on_surface;
  border-radius: 12px;
  margin: 6px;
}

.control-center
.notification-row
.notification-background
.notification > *:last-child > *
.notification-action:hover {
  background: @primary;
}

.control-center
.notification-row
.notification-background
.notification > *:last-child > *
.notification-action:active {
  background-color: @primary;
}

/* =========================================================
   Close Button
   ========================================================= */
.control-center
.notification-row
.notification-background
.close-button {
  background: transparent;
  border-radius: 6px;
  color: @on_surface;
  margin: 0px;
  padding: 4px;
}

.control-center
.notification-row
.notification-background
.close-button:hover {
  background-color: @primary;
  color: @surface;
}

.control-center
.notification-row
.notification-background
.close-button:active {
  background-color: @primary;
  color: @surface;
}

/* =========================================================
   Notification Groups
   ========================================================= */
.notification-group {
  margin: 2px 8px;
}

.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: @on_surface;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: @on_surface;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @on_surface;
  margin: 4px;
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: alpha(@primary, .55);
}

/* =========================================================
   Widgets
   ========================================================= */

/* Label widget */
.widget-label {
  margin: 6px 6px 6px 140px;
  color: @tertiary;
}

/* Title / Clear */
.widget-title {
  color: @on_surface;
  font-size: 1.2em;
  margin: 6px;
}

.widget-title button {
  background: @surface_container_highest;
  border-radius: 6px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: alpha(@primary, .55);
}

.widget-title button:active {
  background-color: @primary;
}

/* =========================================================
   Do Not Disturb
   ========================================================= */
.widget-dnd {
  color: @on_surface;
  margin: 6px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  background: @surface_container_highest;
  border-radius: 8px;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background: alpha(@primary, .55);
}

.widget-dnd > switch:checked {
  background: @primary;
}

.widget-dnd > switch:checked:hover {
  background: alpha(@primary, .55);
}

.widget-dnd > switch slider {
  background: @on_surface;
  border-radius: 6px;
}

/* =========================================================
   Buttons Grid
   ========================================================= */
.widget-buttons-grid {
  font-size: x-large;
  padding: 6px 2px;
  margin: 6px;
  border-radius: 12px;
  background: @surface_container_highest;
  color: @on_surface;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 4px 10px;
  padding: 6px 12px;
  background: transparent;
  border-radius: 8px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: alpha(@primary, .55);
}

.widget-buttons-grid
> flowbox
> flowboxchild
> button.toggle:checked {
  background: alpha(@primary, .55);
}

.widget-buttons-grid
> flowbox
> flowboxchild
> button.toggle:checked label {
  color: @surface;
}

/* =========================================================
   MPRIS
   ========================================================= */
.widget-mpris {
  background: alpha(@primary, .2);
  border-radius: 16px;
  color: @surface;
  padding: 6px;
  margin: 20px 6px;
}

.widget-mpris button {
  color: alpha(@surface, .9);
  border-radius: 6px;
}

.widget-mpris button:hover {
  color: @on_surface;
}

/* Album container must be opaque */
.widget-mpris-player {
  background: @tertiary;
  padding: 6px 10px;
  margin: 10px;
  border-radius: 14px;
}

.widget-mpris-album-art {
  border-radius: 16px;
}

.widget-mpris-title {
  font-weight: 700;
  font-size: 1rem;
}

.widget-mpris-subtitle {
  font-weight: 500;
  font-size: 0.8rem;
}

/* =========================================================
   Volume & Backlight
   ========================================================= */
progressbar,
progress,
trough {
  border-radius: 20px;
  background: transparent;
}

trough highlight {
  padding: 4px;
  background: @primary;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

trough highlight:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

trough slider {
  background: transparent;
  min-height: 6px;
  min-width: 14px;
}

.widget-volume,
.widget-backlight {
  background: transparent;
  color: @on_surface;
  padding: 4px;
  margin: 6px;
  border-radius: 6px;
}
